//base
*{
    margin: 0;
    padding:0;
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/fluffy-clouds-windy-sky.jpg");
    background-position: center;
    background-size: cover;
    //background-color: #57abf5;
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Playfair Display', serif;
        color: #f1f1f1;
        height:45%;
        &__form{
            display: flex;
            justify-content: center;
            &:after{
                content: "";
                clear: both;
                display: table;
            }
            &--input{
                border: 1px solid grey;
                background: #f1f1f1;
                padding: 1vw;
                border-top-left-radius:2vw;
                border-bottom-left-radius: 2vw;
                border-right: none;
            }
            &--button{
                padding: 1vw;
                border: 1px solid grey;
                background-color: black;
                color: white;
                border-left: none;
                cursor: pointer;
                border-top-right-radius:2vw;
                border-bottom-right-radius: 2vw;
                font-family: "Montserrat", sans-serif;
            }
        }
        &__listButton{
            display: flex;
            justify-content: space-evenly;
            button{
                border: none;
                font-family: "Montserrat", sans-serif;
                border-radius: 2vw;
                cursor: pointer;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        color: #f1f1f1;
        &__header{
            height: 33%;
            text-align: center;
            &--average{
                text-align: center;
                height: 60%;
                font-family: 'Playfair Display', sans-serif;
                
            }
            &--description{
                text-align: center;
                font-family: "Montserrat", sans-serif;
                height: 40%;
                opacity: 0.6;
            }
        }
        &__listHeure{
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: auto;
            font-family: "Montserrat", sans-serif;
            color: black;
            .meteo{
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                margin-left: 2vw;
                margin-right: 2vw;
                background-color: rgba(255, 255, 255, 0.17);
                border-radius: 2vw;
                &__heure{
                    color: black;
                }
            }
        }
    }
}


//responsive
@media screen and (max-width:480px){
    .header{
        &__listButton{
            button{
                padding: 2vw;
                width: 15%;
            }
        }
    }
    .main{
        &__header{
            &--average{
                font-size: 15vw;
                
            }
            &--description{
                font-size: 5vw;
            }
        }
    }
}


@media screen and (min-width:480px) and (max-width:768px){
    .header{
        &__listButton{
            button{
                padding: 1vw;
                width: 10%;
            }
        }
    }
    .main{
        &__header{
            &--average{
                font-size: 10vw;
                
            }
            &--description{
                font-size: 5vw;
            }
        }
    }
}

@media screen and (min-width:768px){
    .header{
        &__listButton{
            button{
                padding: 1vw;
                width: 10%;
            }
        }
    }
    .main{
        &__header{
            &--average{
                font-size: 5vw;
                
            }
            &--description{
                font-size: 3vw;
            }
        }
        
    }
}